<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }

    th, td {
      padding: 8px 12px;
      border: 1px solid #ddd;
    }

    thead {
      background-color: #f2f2f2;
    }

    tr:nth-child(even) {
      background-color: #f9f9f9;
    }

    tr:hover {
      background-color: #eaeaea;
    }

  </style>

  <title>Order Details</title>
</head>
<body>

<table>
  <thead>
  <tr>
    <th>Buy Order UUID</th>
    <th>Total Cost</th>
    <th>Order Details</th>
  </tr>
  </thead>
  <tbody id="orderContainer">
  <!-- The actual data will be populated here using JavaScript -->
  </tbody>
</table>

<script>
  var orderContainer = document.getElementById('orderContainer');
  var buyOrders = {};

  function createOrderHTML(order, detailHTML) {
    return `
        <tr id="order-${order.buyOrderUuid}">
            <td>${order.buyOrderUuid}</td>
            <td>${order.totalCost}</td>
            <td>
              <table>
                <thead>
                  <tr>
                    <th>Bread ID</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Status</th>
                    <th>Created At</th>
                    <th>Updated At</th>
                  </tr>
                </thead>
                <tbody id="details-${order.buyOrderUuid}">
                  ${detailHTML}
                </tbody>
              </table>
            </td>
        </tr>`;
  }

  function createOrderDetailHTML(detail) {
    return `
        <tr>
            <td>${detail.breadId}</td>
            <td>${detail.quantity}</td>
            <td>${detail.price}</td>
            <td>${detail.status}</td>
            <td>${detail.created_at}</td>
            <td>${detail.updated_at}</td>
        </tr>`;
  }

  var source = new EventSource("/order-stream");

  source.onmessage = function(event) {
    var orderData = JSON.parse(event.data);

    orderData.buyOrders.forEach(order => {
      if (!buyOrders[order.buyOrderUuid]) {
        buyOrders[order.buyOrderUuid] = order;
        var detailsHTML = orderData.buyOrderDetails.filter(detail => detail.buyOrderUuid === order.buyOrderUuid)
                .map(detail => createOrderDetailHTML(detail)).join('');
        orderContainer.innerHTML += createOrderHTML(order, detailsHTML);
      } else {
        var detailsContainer = document.getElementById(`details-${order.buyOrderUuid}`);
        orderData.buyOrderDetails.forEach(detail => {
          detailsContainer.innerHTML += createOrderDetailHTML(detail);
        });
      }
    });
  };

</script>
</body>
</html>